.search-results {
    cursor: pointer;
}

p {
    display: inline;
}

.search-results:hover {
    color: #9db296
}

.search-name::first-letter, .search-meaning::first-letter {
    text-transform: uppercase;
}

