.input-group {
    padding-left: 200px;
    padding-right: 200px;
}

@media screen and (max-width: 980px) {
    .input-group {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (max-width: 760px) {
    .input-group {
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media screen and (max-width: 540px) {
    .input-group {
        padding-left: 20px;
        padding-right: 20px;
    }
}

